.tarjeta-peli {
    margin: 25px ;
    display: flex;
    gap: 20;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(238, 207, 160);
    border-radius: 5px;
    border: 1px solid rgb(255, 202, 9);
}

.fotopeli img {
    
}

.tarjeta-texto {
    

}